<mat-card>
  <mat-card-header>
    <mat-card-title>{{ player.fullName }} [{{ player.number }}]</mat-card-title>
    <mat-card-subtitle>{{ player.position }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button
      mat-button
      color="primary"
      (click)="modalServ.toggleContractsModal()"
    >
      Contracts
    </button>
    <button mat-button color="primary">
      Games
    </button>
    <button mat-button color="accent" (click)="openUpdateDialog()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-button color="warn" (click)="openDeleteDialog()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<div
  class="modal"
  id="contractsmodal"
  [ngClass]="{ 'is-active': modalServ.contractsModalOpened }"
>
  <div class="modal-background"></div>
  <div class="modal-content">
    <app-contract-default [player]="player"></app-contract-default>
  </div>
  <button
    class="modal-close is-large"
    aria-label="close"
    (click)="modalServ.toggleContractsModal()"
  ></button>
</div>
