<mat-card>
  <mat-card-content>
    <p>Amount: {{ contract.weeklySalary }}</p>
    <p>Duration: {{ contract.startingDate | date }} - {{ contract.endingDate | date }}</p>
  </mat-card-content>

  <button
    mat-button
    color="primary"
    id="editButton"
    (click)="openEditBottomSheet()"
  >
    <mat-icon>edit</mat-icon>
  </button>
  <button
    mat-button
    color="warn"
    id="deleteButton"
    (click)="openDeleteBottomSheet()"
  >
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-button color="accent" id="bonusButton">
    Bonuses
  </button>
</mat-card>
