<mat-card>
  <mat-card-header>
    <mat-card-title>Adding new game!</mat-card-title>
  </mat-card-header>
  <div class="spinner-div" *ngIf="modalServ.dialogSpinnerFlag">
    <mat-spinner></mat-spinner>
  </div>
  <mat-card-content *ngIf="!modalServ.dialogSpinnerFlag">
    <form [formGroup]="addGameForm" id="addGame">
      <mat-form-field>
        <mat-label>Opponent</mat-label>
        <input matInput formControlName="opponent" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Date of Playing</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Result</mat-label>
        <input matInput formControlName="result" />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-button
      color="primary"
      [disabled]="!addGameForm.valid"
      (click)="saveGame()"
    >
      <mat-icon>save</mat-icon>
      Save
    </button>
    <button mat-button color="warn" (click)="close()">
      <mat-icon>not_interested</mat-icon>
      Quit
    </button>
  </mat-card-actions>
</mat-card>
