<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSideMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <span> Footy Stats</span>
</mat-toolbar>

<mat-sidenav-container color="primary">
  <mat-sidenav position="start" [(opened)]="opened" mode="push">
    <button mat-button color="primary">Players</button>
    <button mat-button color="primary">Coaches</button>
    <button mat-button color="primary">Contracts</button>
    <button mat-button color="primary">Games</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
    <hr />
  </mat-sidenav-content>
</mat-sidenav-container>
