/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

form mat-form-field {
  width: 98%;
}

.mat-card {
  margin: auto;
  width: 90%;
}

.spinner-div {
  display: flex;
  justify-content: center;
}

:root {
  --background-color1: #d5f0f1;
}
